<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="{% static 'css/demo_form.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>

<body>
    {% include 'request_demo_modal.html' %}
    <!--=============== HEADER ===============-->

    <header class="header">
        <nav class="nav container">
            <div class="nav__data">
                <a href="/" class="nav__logo">
                    <img src="{% static 'images/logo.png' %}" alt="iEng Logo" class="logo-img">
                </a>
                <a href="/" class="nav__logo1">
                    <img src="{% static 'images/logo/carl.png' %}" alt="carl Logo" class="logo-img">
                </a>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-menu-line nav__burger"></i>
                    <i class="ri-close-line nav__close"></i>
                </div>
            </div>

            <!--=============== NAV MENU ===============-->
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <!-- Solutions Dropdown -->
                    <li class="dropdown__item solutions-dropdown">
                        <a href="/eam/" class="nav__link dropdown-toggle-solutions">
        Solutions <i class="ri-arrow-down-s-line dropdown__arrow"></i>
    </a>
                        <div class="dropdown__menu solutions-menu">
                            <div class="solution-column">
                                <h4>ASSET MANAGEMENT</h4>
                                <a href="/eam/" class="dropdown__link"
                                    style="font-size: 1rem; color: black;"><strong>EAM
                                        platform</strong></a>
                                <p style="font-size: .7rem; padding-bottom: 40px;">Comprehensive Asset Control</p>
                                <a href="/apm/" class="dropdown__link"><strong>APM suite</strong></a>
                                <p style="font-size: .7rem;padding-bottom: 40px;">Enhance Performance, <br>minimize
                                    downtime</p>
                                <a href="/mobility/" class="dropdown__link"><strong>Mobile app</strong></a>
                                <p style="font-size: .7rem;padding-bottom: 40px;">Empower Field Teams</p>
                            </div>
                            <div class="solution-column">
                                <h4>MAINTENANCE</h4>

                                <a href="/plans/" class="dropdown__link"
                                    style="font-size: 1rem; color: black;"><strong>Planning</strong></a>
                                <p style="font-size: .7rem; padding-bottom: 40px;">Streamline maintenance<br>schedules
                                </p>

                                <a href="/workorder/" class="dropdown__link"
                                    style="font-size: 1rem; color: black;"><strong>Work
                                        orders</strong></a>
                                <p style="font-size: .7rem; padding-bottom: 40px;">Efficient task management</p>

                                <a href="/compliance/" class="dropdown__link"
                                    style="font-size: 1rem; color: black;"><strong>Compliance</strong></a>
                                <p style="font-size: .7rem; padding-bottom: 40px;">Ensure regulatory adherence</p>

                            </div>
                            <div class="solution-column">
                                <h4>INTEGRATION</h4>

                                <a href="/cmms-iot/" class="dropdown__link"
                                    style="font-size: 1rem; color: rgb(0, 0, 0);"><strong>IoT </strong></a>
                                <p style="font-size: .7rem; padding-bottom: 40px; color: rgb(0, 0, 0);">Seamless data
                                    integration</p>

                                <a href="/gis/" class="dropdown__link"
                                    style="font-size: 1rem; color: black;"><strong>GIS
                                        mapping</strong></a>
                                <p style="font-size: .7rem; padding-bottom: 40px;">Visualize assets spatially</p>

                                <a href="/erpsync/" class="dropdown__link"
                                    style="font-size: 1rem; color: black;"><strong>ERP
                                        sync</strong></a>
                                <p style="font-size: .7rem; padding-bottom: 40px;">Integrate financial data</p>

                            </div>
                            <!-- <div class="solution-feature-box" style="padding: 50px;">
                                <p><strong>Smarter</strong><br><strong>maintenance.</strong> <br><strong>Stronger
                                        assets.</strong> </p>
                                <p style="font-size: .7rem; color: rgb(106, 106, 106);">Digitize and enhance asset
                                    operations</p>
                                <a href="#" style="font-size: 1rem; margin-top: 30px;padding-top: 40px;">Discover more
                                    →</a>
                            </div> -->
                        </div>
                    </li>


                    <!-- <li><a href="#" class="nav__link">Services</a></li> -->
                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                         <a href="/industries/" class="nav__link">
        Industries<i class="ri-arrow-down-s-line dropdown__arrow"></i>
    </a>

                        <ul class="dropdown__menu">
                         

                            

                            <li>
                                <a href="/factory/" class="dropdown__link">Factory
                                    <!-- <i class="ri-pie-chart-line"></i> -->
                                </a>
                            </li>
                               <li>
                                <a href="/facility/" class="dropdown__link">Facility
                                    <!-- <i class="ri-pie-chart-line"></i> -->
                                </a>
                            </li>
<li>
                                <a href="/transport/" class="dropdown__link">Transport
                                    <!-- <i class="ri-arrow-up-down-line"></i>  -->
                                </a>
                            </li>
                            
                            <li>
                                <a href="/healthcare/" class="dropdown__link">Healthcare
                                    <!-- <i class="ri-arrow-up-down-line"></i>  -->
                                </a>
                            </li>
                            <li>
                                <a href="/city/" class="dropdown__link">City
                                    <!-- <i class="ri-arrow-up-down-line"></i>  -->
                                </a>
                            </li>

                            <!--=============== DROPDOWN SUBMENU ===============-->
                            <!-- <li class="dropdown__subitem">
                                <div class="dropdown__link">
                                    <i class="ri-bar-chart-line"></i> Reports <i class="ri-add-line dropdown__add"></i>
                                </div>

                                <ul class="dropdown__submenu">
                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-file-list-line"></i> Documents
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-cash-line"></i> Payments
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-refund-2-line"></i> Refunds
                                        </a>
                                    </li>
                                </ul>
                            </li> -->
                        </ul>
                    </li>

                    <li><a href="/about/" class="nav__link">About</a></li>

                    <!--=============== DROPDOWN 2 ===============-->
                    <!-- <li class="dropdown__item"> -->
                    <!-- <div class="nav__link">
                            Resources
                        </div> -->

                    <!-- <ul class="dropdown__menu">
                          <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-user-line"></i> Profiles
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-lock-line"></i> Accounts
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-message-3-line"></i> Messages
                                </a>
                            </li>
                        </ul> -->
                    <!-- </li> -->


                    <li><a href="/contacts/" class="nav__link">Contact</a></li>
                    <a href="#" class="book-demo-btn js-open-demo">
                        Request Demo<i class="bi bi-arrow-right-circle"></i>
                    </a>
                </ul>

            </div>
        </nav>
    </header>

    <!--=============== MAIN JS ===============-->
    <script src="{% static 'js/header.js'%}"></script>
    <script defer src="{% static 'js/demo_form.js' %}"></script>
</body>

</html>